body {
        font-family: 'Inter', Arial, sans-serif;
        margin: 40px;
        background: #708E86;
        color: #333;
        min-height: 100vh;
        position: relative; 
    }

    .container {
        max-width: 700px;
        margin: 0 auto;
        background: #C3C1BA;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        border-radius: 20px;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-group input {
        width: 100%;
        padding: 8px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background: #708E86;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
        transition: background 0.3s ease;
        border-radius: 20px;
    }

    button:hover {
        background: #B4A883;
    }

    .delete-group {
        display: flex;
        align-items: flex-end; 
        gap: 10px;
        margin-bottom: 20px;
    }

    .delete-group input {
        flex-grow: 1; 
    }

    .delete-group button {
        margin-right: 0;
        padding: 8px 15px;
        flex-shrink: 0;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        font-size: 0.9em;
    }

    table th, table td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
    }

    table th {
        background: #eee;
        font-weight: bold;
    }


    .home-button {
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 2000; 
        
        display: inline-block;
        padding: 10px 15px;
        background-color: #C3C1BA;
        color: white;
        text-decoration: none;
        border-radius: 8px;
        transition: background-color 0.3s ease;
        font-weight: bold;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    }
    .home-button:hover {
        background-color: #708E86; 
    }

   
    .message-box {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        padding: 20px 30px;
        border-radius: 8px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        z-index: 3000;
        text-align: center;
        border: 2px solid #ff4d4d;
        display: none; 
    }
    .message-box button {
        margin-top: 15px;
        background-color: #ff4d4d;
        width: 150px;
    }
    .message-box button:hover {
        background-color: #cc0000;
    }