html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: 'Inter', Arial, sans-serif; 
        background-color: #708E86; 
        display: grid;
        place-items: center; 
        box-sizing: border-box;
    }

    .container {
        background-color: #C3C1BA;
        padding: 30px 20px;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.1);
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
        position: relative; 
        z-index: 10;
        margin-top: 100px;
        border-radius: 20px;
    }

    h1 {
        text-align: center;
        margin-bottom: 25px;
        font-size: 1.6em;
        color: #1f2937;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: 600;
        color: #374151;
        font-size: 0.95em;
    }

    input[type="number"],
    input[type="text"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #d1d5db;
        border-radius: 6px;
        box-sizing: border-box;
        transition: border-color 0.3s;
    }

    input[type="number"]:focus {
        border-color: #007BFF;
        outline: none;
    }

    input[readonly] {
        background-color: #f8f8f8;
        color: #4b5563;
        cursor: not-allowed;
    }

    button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        background-color: #708E86;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.1s ease;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    button:hover {
        background-color: #B4A883;
    }
    
    button:active {
        transform: translateY(1px);
    }

   
    #clearBtn {
        background: #708E86; 
        margin-top: 5px;
    }
    #clearBtn:hover {
        background: #B4A883;
    }


    .home-button { 
        position: fixed;
        top: 15px;
        left: 15px;
        z-index: 2000; 
        display: inline-block;
        padding: 10px 15px;
        background-color: #C3C1BA; 
        color: white;
        text-decoration: none;
        border-radius: 8px;
        transition: background-color 0.3s ease;
        font-weight: bold;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    }
    .home-button:hover {
        background-color: #708E86; 
    }